*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.5px;
}
a{
    text-decoration: none;
}

.header{
    padding: 20px 0px;
}

.logo {
    font-size: 32px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 2px;
}
